.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;

    h2 {
        text-align: center;
        font-weight: bolder;
    }

    p {
        text-align: center;
        margin-top: 5px;
    }

    .total {
        padding: 15px 0;
    }
}

.items {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 350px;
    overflow-y: scroll;
    background-color: #c7c7c7;
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}
